@import '../../variables';

.sideMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: $side-menu-width;
    min-width: $side-menu-width;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    background: $components-bg-color;
    color: $content-light-color;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    &:after {
        position: absolute;
        top: 0;
        right: 1px;
        content: '';
        width: 1px;
        height: 100%;
        background: $content-light-color;
    }
}

.logoWrap {
    padding-bottom: 30px;
}

a {
    &:hover {
        text-decoration: none;
    }
}
