@import '../../../../styles/variables';

.sideMenuItem{
    list-style: none;
}

.link {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 8px 14px;
    text-decoration: none;
    border: 1px solid transparent;
    color: unset;

    &:hover {
        cursor: pointer;
        color: $content-light-color;
        border: 1px solid $content-light-color;
        border-radius: 4px;
    }
}

.linkActive {
    color: $content-color;
    background: $action-bg-color;
    border: 1px solid $content-light-color;
    border-radius: 4px;
    box-shadow: 1px 1px 18px 0 rgba($additional-dark-bg-color, 0.3);
    cursor: pointer;

    &:hover {
        color: $content-color;
    }
}
