@import '../../styles/variables';

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: $header-height;
    padding-right: 24px;
    background: $components-bg-color;
    border-top: 1px solid $action-bg-color;
    color: $content-light-color;
    font-size: 12px;
    box-shadow: 0 -3px 9px -1px gray;
}
