@import '../../styles/common';

.patients {
    @extend .table-padding;
}

.delete {
    padding: 10px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        color: $content-light-color;
        background: $components-bg-color;
    }
}
