@import "../../Variables.scss";

.Header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: $header-height;
    background: $components-bg-color;
    color: $content-light-color;
    box-shadow: 0 3px 9px -1px gray;
    border-bottom: 1px solid $action-bg-color;
}
