@import "../../styles/variables";

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: $header-height;
    padding-right: 24px;
    background: $components-bg-color;
    color: $content-light-color;
    font-weight: 500;
    box-shadow: 0 3px 9px -1px gray;
    border-bottom: 1px solid $action-bg-color;
}


.logoWrap {
    padding-right: 8px;
}
