@import "../../styles/variables";

.topPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: $top-panel-height;
    padding-bottom: 26px;
}

.title {
    margin-bottom: 0;
    font-size: 24px;
}

.panelContentWrap {
    display: flex;
    align-items: center;
}
.buttonWrap {
    min-width: 80px;
}
